@font-face {
    font-family: 'digital-7regular';
    src: url('digital-7-webfont.woff2') format('woff2'),
         url('digital-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: linear-gradient(to right, aquamarine, rgb(100, 255, 139));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

header {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background: none;
    height: 60px;
    padding: 5px;
    color: white;
    font-size: 20pt;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.logo img, .refs img {
    height: 60px;
    margin-right: 10px;
}

.logo img {
    border-radius: 50%;
}

.logo p{
    margin: 0;

    color: white;
    
}

.refs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.refs div a img {
    margin: 0 5px;
}

section {
    display: grid;
    justify-content: center;
}

.calc {
    margin: 40px;
    padding: 25px;
    background-color: rgb(218, 218, 218);
    width: 360px;
    opacity: 75%;
    border-radius: 15px;
}

.screen, .key {
    border-radius: 15px;
    background: none;
}

.screen h1 {
    font-family: 'digital-7regular', 'Trebuchet MS', sans-serif;
    text-align: end;
    padding: 10px 20px 0 20px;
    margin: 0;
    font-size: 30pt;
    font-weight: normal;
    height: auto;
    overflow: hidden;
    word-wrap: break-word;
}

.screen p {
    text-align: end;
    padding: 5px 20px;
    font-size: 15px;
    color: grey;
    font-weight: bold;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.screen div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 40px;
}

.key {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.key div {
    width: 90px;
    height: 90px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.15s ease-in-out, margin 0.15s ease-in-out, padding 0.15s ease-in-out, border-radius 0.15s ease-in-out;
}

.key div p {
    margin: 0;
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
}

.key div:hover {
    background-color: #79d6d6d2;
    cursor: pointer;
    margin-top: -8%;
    padding-bottom: 8%;
    border-radius: 10px;
}

.num {
    background-color: rgb(174, 231, 253);
}

#ce:hover {
    background-color: rgb(255, 113, 113);
}

#copy {
    width: 0;
    height: 0;
    border: none;
    outline: none;
    opacity: 0;
}

button {
    border-radius: 10px;
    font-size: 16pt;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background 0.15s ease-in-out, font-size 0.15s ease-in-out;
    width: 90px;
}

button:hover {
    background-color: #b8fafa;
    font-size: 18pt;
}
